@import "style-navbar.css";
@import "style-hero.css";
@import "style-loading-screen.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --font_primaire: "Space Mono", sans-serif;
  --font_secondaire: "Roboto", monospace;
  --palette_noir: #3d3438;
  --palette_charcoal: #3a3c3d;
  --palette_gris: #7b817a;
  --palette_blanc: #f1f2ed;
  --couleur_accent: #642d59;
  --coleur_accent_secondaire: #efa776;
  --couleur_soleil: #272829;
  --couleur_lune: #d8d9da;
  --font_size_nav: 16px;
  --font_size_texte_courant: 20px;
  --font_size_texte_courant_mobile: 16px;
  --font_size_titre: 35px;
  --font_size_titre_mobile: 25px;
  --font_size_grille: 30px;
  --font_size_grille_960: 25px;
  --font_size_grille_720: 20px;
  --padding_large: 25px;
  --padding_moyen: 20px;
  --padding_court: 15px;
  --padding_extra_court: 10px;
  --padding_extra_extra_court: 5px;
  --border_radius: 25px;
  --espacement_texte: 10px;
}

html[lang="en"] [lang="fr"] {
  display: none !important;
}

html[lang="fr"] [lang="en"] {
  display: none !important;
}

body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

.marquee-content {
  background-color: #642d59;
}
.section_titre {
  font-size: 70px;
  width: fit-content;
  white-space: nowrap;
  font-family: "Space Mono", sans-serif;
  color: var(--palette_blanc);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.a_propos {
  /* padding:100vh 0; */
  min-height: 100vh;
  background-color: var(--palette_noir);
  z-index: 2;
  position: relative;
}

.hero_texte span {
  display: inline-block;
}

@media screen and (max-width: 720px) {
  .section_titre {
    font-size: 35px;
  }
}
