.btn {
  cursor: pointer;
  width: 20px;
  height: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}
.bar {
  height: 1px;
  width: 100%;
  background-color: white;
}
nav {
  transform: translateY(100%);
  z-index: 15000;
  position: fixed;
  height: 100px;
  bottom: 0;
  width: 100%;
  /* From https://css.glass */
  background: rgba(0, 0, 0, 0.19);
  /* border-top-left-radius: 16px;
  border-top-right-radius:16px; */
  background-color: rgb(177, 177, 177);
  display: flex;
  align-items: center;
  justify-content: center;
}
ul {
  z-index: 15000;
  position: fixed;
  /*   background-color:blue; */
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

li {
  /* From https://css.glass */
  background-color: rgb(177, 177, 177);
  /* border: 1px solid rgba(0, 0, 0, 0.31); */
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  width: 100%;
  transform: translateX(-100%);
  color: #ffffff;
  /* padding: 15px; */
}

.navbar_numero {
  height: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  font-family: "Space mono";
}

.navbar_section {
  padding-left: 50px;
  height: 100%;
  flex: 5;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  font-size: 50px;
  font-family: "Space mono";
}

.choix {
  background-color: darkslategrey;
  font-size: 50px;
  font-family: "Space mono";
  justify-content: space-around;
}
