.hero {
  width: 100%;
  height: 100dvh;
  object-fit: cover;
  filter: brightness(55%);
  position: relative;
  z-index: -1;
  transform: scale(1.2);
  overflow: hidden;
}

.section_hero {
  z-index: 1;
  position: relative;
}

.conteneur_hero {
  position: relative;
}

.hero_texte {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: right;
  font-weight: normal;
  padding-bottom: 150px;
  padding-right: 100px;
}

.hero_texte > p,
.heure_meteo_disponibilite > p,
.disponibilite > p,
.triangle_disponibilite {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: var(--palette_blanc);
  font-size: 35px;
  opacity: 0;
}

.heure_meteo_disponibilite {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  position: absolute;
  top: 0;
  text-align: left;
  font-weight: normal;
  padding-top: 100px;
  padding-left: 100px;
}

.disponibilite {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  position: absolute;
  top: 0;
  text-align: right;
  font-weight: normal;
  padding-top: 100px;
  padding-right: 100px;
}

.triangle_disponibilite {
  height: 15px;
  width: 15px;
  margin: 5px;
}

@media screen and (max-width: 720px) {
  .heure_meteo_disponibilite,
  .disponibilite,
  .hero_texte {
  }

  .heure_meteo_disponibilite {
  }

  .disponibilite {
    padding-top: 25px;
    padding-right: 25px;
  }

  .heure_meteo_disponibilite {
    padding-top: 25px;
    padding-left: 25px;
  }

  .hero_texte {
    padding-bottom: 75px;
    padding-right: 25px;
  }

  .hero_texte > p,
  .heure_meteo_disponibilite > p,
  .disponibilite > p,
  .triangle_disponibilite {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
    color: var(--palette_blanc);
    font-size: 22px;
    opacity: 0;
  }
}
